# ==============================================================================
# GitHub CODEOWNERS - Asignación de Responsabilidades por Capas (DevSecOps)
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# ==============================================================================

# Ownership global por defecto
* @rocapellino

# 1. DevSecOps, Seguridad de la Cadena de Suministro y CI/CD
.github/ @rocapellino
SECURITY.md @rocapellino
docs/security/ @rocapellino
.gitleaks.toml @rocapellino
renovate.json @rocapellino
sonar-project.properties @rocapellino
.mega-linter.yml @rocapellino

# 2. Infraestructura, Helm Charts, Políticas Kubernetes (IaC / GitOps)
infra/ @rocapellino
gitops/ @rocapellino
Dockerfile @rocapellino
docker-compose*.yaml @rocapellino

# 3. Aplicación Backend, Lógica de Dominio y Contratos
apps/backend/ @rocapellino
package.json @rocapellino
package-lock.json @rocapellino
tsconfig.json @rocapellino

# 4. Frontend Web SPA & Configuración Nginx
apps/frontend/ @rocapellino

# 5. Suite de Pruebas Unitarias, Integración y Pentest Lógico
tests/ @rocapellino
