# ==============================================================================
# Plantilla de Variables de Entorno (Pokédex DevOps Platform)
# Copiar este archivo a .env para desarrollo local: cp .env.example .env
# NUNCA commitear el archivo .env real con credenciales de producción.
# ==============================================================================

# Nombre del Proyecto Docker Compose (Namespace de Contenedores y Volúmenes)
COMPOSE_PROJECT_NAME=pokedex

# Configuración de Base de Datos PostgreSQL
POSTGRES_DB=pokedex_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_secure_password_k8s
POSTGRES_PORT=5432

# Configuración de Caché Redis
REDIS_PORT=6379

# Configuración de Backend API Flask
PORT=5000
FLASK_ENV=production
DATABASE_URL=postgresql://postgres:postgres_secure_password_k8s@postgres:5432/pokedex_db
REDIS_URL=redis://redis:6379/0

# Configuración de Frontend Web Nginx
WEB_PORT=8080

# Configuración de MinIO (Object Storage S3)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin_secure_password
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
