ADMIN_API_KEY=
AI_API_KEY=
GEMINI_API_KEY=
CORS_ORIGINS=
DATABASE_URL=
ENVIRONMENT=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_USER=
REDIS_HOST=
REDIS_PORT=
REDIS_URL=
WEB_PORT=