nodejs 24.21.0
# renovate: datasource=github-releases depName=opentofu/opentofu extractVersion=^v(?<version>.+)$
opentofu 1.8.8
# renovate: datasource=github-releases depName=helm/helm extractVersion=^v(?<version>.+)$
helm 3.17.0
kubectl 1.30.0
ansible-core 2.17.7
