# ==============================================================================
# Pokédex Frontend (Web) - Docker Ignore
# ==============================================================================

# Control de versiones
.git/
.gitignore
.gitattributes

# Node & dependencias locales
node_modules/
dist/
.npm/

# Documentación
*.md

# Secretos y variables de entorno
.env
.env.*
*.pem
*.key
*.cert
*.crt

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Archivos del Sistema Operativo y Temporales
.DS_Store
Thumbs.db
ehthumbs.db
*.tmp
*.bak
*~
*.log
