# ==============================================================================
# Pokédex Backend (Node.js & TypeScript) - Docker Ignore
# ==============================================================================

# Control de versiones
.git/
.gitignore
.gitattributes

# Node & dependencias locales
node_modules/
dist/
build/
.npm/
*.tsbuildinfo

# Pruebas, cobertura y reportes
coverage/
test-results/
playwright-report/
lighthouse-results/
.scannerwork/
.mega-linter-reports/

# Documentación
*.md

# Secretos y variables de entorno
.env
.env.*
*.pem
*.key
*.cert
*.crt

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Archivos del Sistema Operativo y Temporales
.DS_Store
Thumbs.db
ehthumbs.db
*.tmp
*.bak
*~
*.log
