[defaults]
inventory = inventory/hosts.ini
remote_user = ubuntu
host_key_checking = True
retry_files_enabled = False
forks = 5
stdout_callback = yaml
timeout = 30

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
